{
  "extends": [
    "airbnb", 
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true,
    "webextensions": true,
  },
  "rules": {
    "no-restricted-syntax": "off",
    "no-plusplus": "off",
    "no-unused-expressions": "off",
  }
}
